name: Ruby

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  fetch-versions:
    runs-on: ubuntu-latest
    outputs:
      supported-ubuntu-lts: ${{ steps.get-versions.outputs.supported-ubuntu-lts }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install jq
      run: |
        sudo apt-get update
        sudo apt-get install -y jq

    - name: Fetch supported Ubuntu LTS versions
      id: get-versions
      run: |
        chmod +x .github/workflows/fetch_supported_ubuntu_versions.sh
        ./.github/workflows/fetch_supported_ubuntu_versions.sh

    - name: Debug Output
      run: |
        echo "Matrix JSON: ${{ steps.get-versions.outputs.supported-ubuntu-lts }}"

  test:
    needs: fetch-versions
    strategy:
      matrix:
        os: ${{ fromJson(needs['fetch-versions'].outputs['supported-ubuntu-lts']) }}
        ruby-version: ['3.1', '3.2', '3.3']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}

    - name: Run tests
      run: rake
